<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap" rel="stylesheet"> 
    <title>OllasMDP</title>
</head>
<body>
    <section class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
            <div class="col">
                <div class="card h-80" style="width: 18rem;">
                    <img src="images/MarsalaCacerola24cm2.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Cacerola cuadrada</h5>
                        <div class="d-flex flex-row">
                            <h5 class="fw-bold">$ 4.000</h5>
                        </div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a class="btn btn-success btn-sm">Añadir al carrito de consulta</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="images/AquaCacerola18cm2.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Cacerola cuadrada</h5>
                        <div class="d-flex flex-row-reverse">
                            <h5 class="">$ 4.000</h5>
                            <p class="h5">$ 4.000</p>
                        </div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="images/AquaCacerola18cm2.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Cacerola cuadrada</h5>
                        <div class="d-flex flex-row-reverse">
                            <h5 class="text-light bg-green">$ 4.000</h5>
                        </div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="images/AquaCacerola18cm2.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Cacerola cuadrada</h5>
                        <div class="d-flex flex-row-reverse">
                            <h5 class="text-light bg-green">$ 4.000</h5>
                        </div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="images/AquaCacerola18cm2.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Cacerola cuadrada</h5>
                        <div class="d-flex flex-row-reverse">
                            <h5 class="text-light bg-green">$ 4.000</h5>
                        </div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="libs/bootstrap/js/bootstrap.js"></script>
</body>
</html>